@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 223 56% 39%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 223 56% 39%;
    --radius: 8px;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 130 66% 38%;
    --primary-foreground: 210 40% 98%;
    --secondary: 0 100% 59%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 15%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 130 66% 38%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    zoom: 0.95;
  }
}

@layer components {
  .feature-card {
    @apply flex flex-col items-center justify-center p-3 sm:p-4 rounded-xl border border-border bg-card shadow-sm transition-all duration-300;
    @apply hover:border-primary/50 hover:shadow-lg hover:shadow-primary/10 hover:-translate-y-1;
  }
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.gradient-text {
  background: linear-gradient(
    to right,
    hsl(var(--primary)),
    theme(colors.blue.500)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.dark .gradient-text {
  background: linear-gradient(
    to right,
    hsl(var(--primary)),
    theme(colors.blue.400)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cell-content b {
  @apply font-bold text-foreground;
}

.gradient-background {
  background: linear-gradient(
    to right,
    hsl(var(--primary)),
    theme(colors.blue.500)
  );
}

.dark .gradient-background {
  background: linear-gradient(
    to right,
    hsl(var(--primary)),
    theme(colors.blue.400)
  );
}
